.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: #fff;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: cursive;
}

.music-logo {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.nav-item {
    height: 50px;  
}


.nav-links {
    margin-top: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links:hover {
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-out;
}


.nav-links-mobile {
    display: none;
}

.nav-links-sign-up{
    margin-top: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.profile{
    height: 50px;
}

.welcome{
    margin-top: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    font-size:15px;
}

.log-out{
    margin-top: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: -10px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
}

.log-out:hover{
    color: red;
    cursor:pointer;
}